.alerta{
	padding: 15px;
	font-size:16px;
	color:white;
	background: green;
	box-shadow: 0px 1px 3px #ccc;
	margin-bottom: 15px;
	border-radius: 2px;
}
.alerta-error{
	background: red;
}
.section-search input{
	padding: 5px !important;
	font-size: 2em !important;
	width: 90% !important;
	border: #f4f4f4 3px solid !important;
}
.section-follow .fa-4x{
   margin: 5px 10px;
  
}